body {
    font-family: sans-serif;
    margin: 0;
}

section {padding: 0 250px;}

.topbar {
    /*border: 2px solid black;*/
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.topbar_main {
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
}

.topbar_city {
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #4e4e4e;
}

.spacer {
    /*border: 2px solid black;*/
    width: 130px;
}

.nav_topbar > a {
    /*border: 2px solid black;*/
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding-right: 20px;
    color: #4e4e4e;
}

.topbar_info {
    display: flex;
    align-items: center;
    color: #7f7f7f;
}

.header_main {
    /*border: 2px solid black;*/
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hoverable:hover {background-color: #f3f3f3;}

.logo {padding: 15px;}

.search {
    margin: 10px 50px;
    height: 60px;
    border: 1px solid #efefef;
    display: flex;
    flex: stretch;
    border-radius: 7px;
}

.search input {
    flex: stretch;
    border: none;
    padding-left: 20px;
    font-size: 16px;
}

.btn_search {
    background-color: #e31e24;
    border: none;
    padding: 0 25px;
    cursor: pointer;

    &:hover {background-color: #c1151a;}
}

.actions {display: flex;}

.likable {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    text-decoration: none;
    color: #4e4e4e;
    font-size: 16px;
    gap: 10px;
}

.counter {
    background: #ff0007;
    padding: 3px 6px;
    font-size: 13px;
    border-radius: 100%;
    color: #ffffff;
}

.nav_categories {
    /*border: 4px solid #384dca;*/
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 0;
}

.nav_categories .element {
    /*border: 2px solid #3cbd32;*/
    padding: 15px 0;
    background: #fafafa;
    cursor: pointer;
    text-decoration: none;
    color: #4e4e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;

    &:hover {background: #efefef;}
}

#catalog {
    background-color: red;
    color: white;

    &:hover {
        background-color: #e40101;
        color: white;
    }
}